.bg-orange{
	background: rgb(246, 164,0);
}
.bg-orange-light{
	/*background: rgba(255, 165,0,.6); */
	background: rgba(0, 0,0,.7);
}

.buscador{
	width: 100%;
	height: 500px;
}
.parallax {
  background-image: url("../img/portada.png");
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-orange{
	border: 4px solid rgb(246, 164,0);
}

.textarea{
	width: 100%;
	min-height: 200px;
	height: 200px;
}
.text-normal{
	font-style: normal;
}
